@using MobilOkulProc.Entities.Concrete
@using MobilOkulProc.Entities.General
@model Mesajlar<USER>

@{
    ViewData["Title"] = "User Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Nesne.NameSurname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Nesne.NameSurname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Nesne.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Nesne.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Nesne.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Nesne.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Nesne.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Nesne.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Nesne.UserType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Nesne.UserType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Nesne.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Nesne.Status)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Nesne.ObjectID }) |
    @Html.ActionLink("Listeye Geri Dön", "List")
</div>
<p>
    <div class="input-group">
        @if (Model != null)
        {
            if (Model.Mesaj != null)
            {
                <div class="alert alert-@Model.Status" role="alert">@Model.Mesaj</div>
            }


        }
    </div>
    <br />

</p>