@using MobilOkulProc.Entities.Concrete
@using MobilOkulProc.WebApp.ViewModels
@model MobilViewModel<BRANCH>
@{
    ViewBag.Title = "Add Branch View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Mesajlar.Nesne.BranchName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Mesajlar.Nesne.BranchName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mesajlar.Nesne.BranchName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ekle" class="btn btn-success" />
            </div>
        </div>
    </div>
}
<div class="col-md-offset-2 col-md-2">
    <input type="submit" value="Geri" class="btn btn-info" onclick="goBack()" />
</div>
<br />
<p>
    <div class="input-group">
        @if (Model != null)
        {
            if (Model.Mesajlar.Mesaj != null)
            {
                <div class="alert alert-@Model.Mesajlar.Status" role="alert">@Model.Mesajlar.Mesaj</div>
            }


        }



    </div>
    <br />

</p>
<br />
<script>
    function goBack() {
        window.history.back();
    }
</script>
