@using MobilOkulProc.Entities.Concrete
@using MobilOkulProc.WebApp.ViewModels
@model MobilViewModel<BRANCH>  

@{
    ViewData["Title"] = "List Branches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mesajlar.Nesne.BranchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mesajlar.Nesne.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Mesajlar.Liste) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BranchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ObjectID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ObjectID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ObjectID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
