@using MobilOkulProc.Entities.Concrete
@model List<GRADE> 
@{
    ViewBag.Title = "Notlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                @foreach (var item in Model)
                {
                    <!-- Main content -->
                    <div class="invoice p-3 mb-3">
                        <!-- title row -->
                        <div class="row">

                            <div class="col-12">
                                <h4>
                                    @item.Lecture.LectureName
                                </h4>
                            </div>
                            <!-- /.col -->
                        </div>

                        <!-- /.row -->
                        <!-- Table row -->
                        <div class="row">
                            <div class="col-12 table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>1. Sınav</th>
                                            <th>2. Sınav</th>
                                            <th>3. Sınav</th>
                                            <th>1. Performans</th>
                                            <th>2. Performans</th>
                                            <th>3. Performans</th>
                                            <th>Ödev/Proje</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            @if (item.GradeTypeID == 1)
                                            {
                                                <td>@item.Grade</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            @if (item.GradeTypeID == 2)
                                            {
                                                <td>@item.Grade</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            @if (item.GradeTypeID == 3)
                                            {
                                                <td>@item.Grade</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            @if (item.GradeTypeID == 4)
                                            {
                                                <td>@item.Grade</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            @if (item.GradeTypeID == 5)
                                            {
                                                <td>@item.Grade</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            @if (item.GradeTypeID == 6)
                                            {
                                                <td>@item.Grade</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            @if (item.GradeTypeID == 7)
                                            {
                                                <td>@item.Grade</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                   
                       


                    <!-- /.invoice -->
                }

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->