@using MobilOkulProc.MobileApp.Models
@using MobilOkulProc.Entities.Concrete
@model MessagePageModel<MESSAGE>

@{
    ViewBag.Title = "Add Message";
    if (ViewBag.Usertype == "\"Student\"")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else if (ViewBag.Usertype == "\"Parent\"")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else if (ViewBag.Usertype == "\"Teacher\"")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}

<body>

    @*
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="contact-form">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="container-fluid">
                    <div class="col-md-4">
                        <div class="text-content">
                            <div class="inside-content">
                                <img src="~/images/message.png" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="right-content">
                            <div id="contact">
                                <div class="col-md-1 col-md-offset-2">
                                </div>
                                <div class="col-md-4">
                                    <fieldset>
                                        <br />
                                        @Html.EditorFor(model => model.Mesajlar.Nesne.MessageTitle, new { htmlAttributes = new { @class = "form-control", @placeholder = "Message Title Here..." } })
                                        @Html.ValidationMessageFor(model => model.Mesajlar.Nesne.MessageTitle, "", new { @class = "text-danger" })

                                    </fieldset>
                                </div>
                                <div class="col-md-8 col-md-offset-2">
                                    <fieldset>
                                        @Html.TextAreaFor(model => model.Mesajlar.Nesne.MessageContent, new { htmlAttributes = new { @class = "form-control", } })
                                        @Html.ValidationMessageFor(model => model.Mesajlar.Nesne.MessageContent, "", new { @class = "text-danger" })
                                    </fieldset>
                                </div>

                                <div class="col-md-8 col-md-offset-2">
                                    <fieldset>

                                        @Html.DropDownListFor(m => m.ReceiverId, Model.ReceiverList, "Choose a receiver", new { @class = "form-control dropdown" })


                                    </fieldset>
                                </div>
                                <br />
                                <div class="col-md-4 col-md-offset-2">
                                    <fieldset>
                                        <input type="submit" value="Send your message" style="color:white" class="bg-primary" />

                                    </fieldset>
                                </div>

                                <div class="col-md-4 col-md-offset-2">
                                    <fieldset>
                                        <button class="bg-primary" @Html.ActionLink("Show your messages", "List")></button>
                                    </fieldset>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }

    *@

    <main id="main">

        <section id="contact" class="contact">
            <div class="container">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="section-title">
                    <h2>Send Message</h2>
                    <p></p>
                </div>

                <div class="row" data-aos="fade-in">

                    <div class="col-lg-5 d-flex align-items-stretch">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location:</h4>
                                <p>A108 Adam Street, New York, NY 535022</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>info@example.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>@ViewBag.Phone</p>
                            </div>

                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                        </div>

                    </div>

                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                        @*<form action="forms/contact.php" method="post" role="form" class="php-email-form">*@
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">Mesage Title</label>
                                    @*<input type="text" name="name" class="form-control" id="name" required>*@
                                    @Html.EditorFor(model => model.Mesajlar.Nesne.MessageTitle, new { htmlAttributes = new { @class = "form-control", @placeholder = "Message Title Here..." } })
                                    @Html.ValidationMessageFor(model => model.Mesajlar.Nesne.MessageTitle, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name">Message Content</label>
                                    @*<input type="text" name="name" class="form-control" id="name" required>*@
                                    @Html.TextAreaFor(model => model.Mesajlar.Nesne.MessageContent, new { htmlAttributes = new { @class = "form-control", } })
                                    @Html.ValidationMessageFor(model => model.Mesajlar.Nesne.MessageContent, "", new { @class = "text-danger" })
                                </div>
                                <label for="name">Select Receiver</label>
                                <div class="form-group">
                                    @*<label for="name">Message</label>*@
                                    @*<textarea class="form-control" name="message" rows="10" required></textarea>*@
                                    @Html.DropDownListFor(m => m.ReceiverId, Model.ReceiverList, "Choose a receiver", new { @class = "form-control dropdown" })
                                </div>

                                <div>
                                    <input type="submit" value="Send your message" style="color:white" class="bg-primary" />
                                </div>

                                <div>
                                    <button class="bg-primary" @Html.ActionLink("Show your messages", "List")></button>
                                </div>
                            </div>
                        }
                    </div>

                </div>
        </section><!-- End Contact Section -->


    </main><!-- End #main -->

</body>