@using MobilOkulProc.MobileApp.Models
@using MobilOkulProc.Entities.Concrete
@model MessagePageModel<MESSAGE>
@{
    ViewBag.Title = "Add Message";
    if (ViewBag.Userid == 1)
    {
        Layout = "~/Views/Shared/_Layout_Student.cshtml";
    }

    else if (ViewBag.Userid == 3)
    {
        Layout = "~/Views/Shared/_Layout_Parent.cshtml";
    }
    else if (ViewBag.Userid == 2)
    {
        Layout = "~/Views/Shared/_Layout_Teacher.cshtml";
    }
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="contact-form">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="container-fluid">
            <div class="col-md-4">
                <div class="text-content">
                    <div class="inside-content">
                        <img src="~/images/send.png" />
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="right-content">
                    <div id="contact">
                        <div class="col-md-1 col-md-offset-2">
                        </div>
                        <div class="col-md-4">
                            <fieldset>
                                <br />
                                @Html.EditorFor(model => model.Mesajlar.Nesne.MessageTitle, new { htmlAttributes = new { @class = "form-control" , @placeholder ="Message Title Here..." } })
                                @Html.ValidationMessageFor(model => model.Mesajlar.Nesne.MessageTitle, "", new { @class = "text-danger" })

                            </fieldset>
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <fieldset>
                                @Html.TextAreaFor(model => model.Mesajlar.Nesne.MessageContent, new { htmlAttributes = new { @class = "form-control", } })
                                @Html.ValidationMessageFor(model => model.Mesajlar.Nesne.MessageContent, "", new { @class = "text-danger" })
                            </fieldset>
                        </div>

                        <div class="col-md-8 col-md-offset-2">
                            <fieldset>
                                @Html.DropDownListFor(m => m.ReceiverId, Model.ReceiverList, "Choose a receiver", new { @class = "form-control dropdown" })
                            </fieldset>
                        </div>
                      
                        <div class="col-md-4 col-md-offset-2">
                            <fieldset>
                                <input type="submit" value="Send your message" style="color:white" class="bg-primary" />
   
                            </fieldset>
                        </div>
                        
                        <div class="col-md-4 col-md-offset-2">
                            <fieldset>
                                <button class="bg-primary" @Html.ActionLink("Show your messages", "List")></button>
                            </fieldset>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>

}
