@using MobilOkulProc.Entities.Concrete
@using MobilOkulProc.MobileApp.Models
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Fluent
@using Microsoft.AspNetCore.Http;
@model MessagePageModel<MESSAGE>

@{
    ViewData["Title"] = "List Message";
    if (ViewBag.Usertype == "\"Student\"")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else if (ViewBag.Usertype == "\"Parent\"")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else if (ViewBag.Usertype == "\"Teacher\"")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}

<body>
    @{int flag = 0; }
    <br />
@*
    <div class="accordions">
        <div class="container-fluid">
            <div class="col-md-8 col-md-offset-2">
                <ul class="accordion">
                    @foreach (var item in Model.PagedList)
                    {
                        <li>
                            @if (item.SenderID == @ViewBag.ObjectID || item.ReceiveID == @ViewBag.ObjectID)
                            {
                                <a>

                                    @Html.DisplayFor(modelItem => item.Sender.FullName) ➤
                                    @Html.DisplayFor(modelItem => item.Receive.FullName)<h1> </h1>
                                    @Html.DisplayFor(modelItem => item.SendTime)

                                </a>
                                flag++;
                            }
                            <p>


                                @if (item.SenderID == @ViewBag.ObjectID || item.ReceiveID == @ViewBag.ObjectID)
                                {
                                    <b>@Html.DisplayNameFor(model => model.Mesajlar.Nesne.MessageTitle)</b>
                                    <br />
                                    @Html.DisplayFor(modelItem => item.MessageTitle)
                                    <br />

                                }

                                @if (item.SenderID == @ViewBag.ObjectID || item.ReceiveID == @ViewBag.ObjectID)
                                {
                                    <b>@Html.DisplayNameFor(model => model.Mesajlar.Nesne.MessageContent)</b>
                                    <br />
                                    @Html.DisplayFor(modelItem => item.MessageContent)
                                    <br />
                                }

                            </p>

                        </li>
                    }
                    <li>
                        @if (flag == 0)
                        {
                            <a>
                                <h4>You have no messages.</h4>
                            </a>
                        }
                    </li>
                </ul>
            </div>
        </div>

    </div>


*@


    <main id="main">
        <section id="testimonials" class="testimonials section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>List Message</h2>
                    <p></p>
                </div>

                <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-item" data-aos="fade-up">

                                <p>
                                    @foreach (var item in Model.PagedList)
                                    {
                                        @if (item.SenderID == @ViewBag.ObjectID || item.ReceiveID == @ViewBag.ObjectID)
                                        {

                                            <b> @Html.DisplayFor(modelItem => item.Sender.FullName)</b>
                                            <b>➤</b>
                                            <b>@Html.DisplayFor(modelItem => item.Receive.FullName)</b>
                                            <br />
                                            <b>@Html.DisplayFor(modelItem => item.SendTime)</b>
                                            <br />
                                            flag++;
                                        }



                                        @if (item.SenderID == @ViewBag.ObjectID || item.ReceiveID == @ViewBag.ObjectID)
                                        {

                                            @Html.DisplayNameFor(model => model.Mesajlar.Nesne.MessageTitle)
                                            <br />
                                            @Html.DisplayFor(modelItem => item.MessageTitle)
                                            <br />

                                        }

                                        @if (item.SenderID == @ViewBag.ObjectID || item.ReceiveID == @ViewBag.ObjectID)
                                        {

                                            @Html.DisplayNameFor(model => model.Mesajlar.Nesne.MessageContent)
                                            <br />
                                            @Html.DisplayFor(modelItem => item.MessageContent)
                                            <br />

                                        }

                                    }

                                    @if (flag == 0)
                                    {

                                        <h4>You have no messages.</h4>

                                    }
                                </p>

                                @if (ViewBag.Usertype == "\"Student\"")
                                {
                                    <img src="~/images/student.png" class="testimonial-img" alt="">
                                }
                                else if (ViewBag.Usertype == "\"Parent\"")
                                {
                                    <img src="~/images/family.png" class="testimonial-img" alt="">
                                }
                                else if (ViewBag.Usertype == "\"Teacher\"")
                                {
                                    <img src="~/images/teacher.png" class="testimonial-img" alt="">
                                }
                                <h3>@ViewBag.NameSurname</h3>

                            </div>
                        </div><!-- End testimonial item -->
                    </div>
                </div>

            </div>
        </section>

    </main>




</body>
