@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    if (ViewBag.Usertype == "\"Student\"")
    {
        Layout = "~/Views/Shared/_Layout_Student.cshtml";
    }
    else if (ViewBag.Usertype == "\"Parent\"")
    {
        Layout = "~/Views/Shared/_Layout_Parent.cshtml";
    }
    else if (ViewBag.Usertype == "\"Teacher\"")
    {
        Layout = "~/Views/Shared/_Layout_Teacher.cshtml";
    }

}


<body>

    @if (ViewBag.Usertype == "\"Student\"")
    {

        <div class="services">
            <div class="container">
                <div class="col-md-4">
                    <div class="service-item">
                        <div class="icon">
                            <img src="~/images/IDcard.png" alt="">
                        </div>
                        <div class="text">
                            <h2>Student Number</h2>
                            <h3> @ViewBag.StudentNumber</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-item">
                        <div class="icon">
                            <img src="~/images/registerdate.png" alt="">
                        </div>
                        <div class="text">
                            <h2>Student RegisterDate</h2>
                            <h3>@ViewBag.StudentRegisterDate</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-item">
                        <div class="icon">
                            <img src="~/images/graduatedate.png" alt="">
                        </div>
                        <div class="text">
                            <h2>Student GraduateDate</h2>
                            <h3>@ViewBag.StudentGraduateDate</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="service-item">
                        <div class="icon">
                            <img src="~/images/blood.png" alt="">
                        </div>
                        <div class="text">
                            <h2>Student BloodType</h2>
                            <h3>@ViewBag.StudentBloodType</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="service-item">
                        <div class="icon">
                            <img src="~/images/Address.png" alt="">
                        </div>
                        <div class="text">
                            <h2>Student Adress1</h2>
                            <h3>@ViewBag.StudentAdress1</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="service-item">
                        <div class="icon">
                            <img src="~/images/Address.png" alt="">
                        </div>
                        <div class="text">
                            <h2>Student Adress2</h2>
                            <h3>@ViewBag.StudentAdress2</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="service-item">
                        <div class="icon">
                            <img src="~/images/birthdate.png" alt="">
                        </div>
                        <div class="text">
                            <h2>Student BirthDate</h2>
                            <h3>@ViewBag.StudentBirthDate</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="service-item">
                        <div class="icon">
                            <img src="~/images/birthplace.png" alt="">
                        </div>
                        <div class="text">
                            <h2>Student BirthPlace</h2>
                            <h3> @ViewBag.StudentBirthPlace</h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>



        <div class="template-presentation">
            <div class="container">
                <div class="col-md-7 hidden-xs hidden-sm">
                    <div class="left-image">
                        <img src="~/images/school.png" alt="">

                    </div>
                </div>

                <div class="col-md-5 hidden-xs hidden-sm">
                    <div class="right-content">
                        <h4>SCHOOL MANAGEMENT SYSTEM</h4>
                        <div class="author-image">
                            <img src="img/template-author.png" alt="">
                        </div>
                        <div class="blue-button">
                        </div>
                    </div>
                </div>
                <div class="col-md-5 hidden-lg hidden-md">
                    <div class="right-content">
                        <div class="author-image">
                            <img src="~/images/school.png" alt="">
                        </div>
                        <h4>SCHOOL MANAGEMENT SYSTEM</h4>
                        <div class="blue-button">
                        </div>
                    </div>
                </div>
                <div class="col-md-7 hidden-lg hidden-md">
                    <div class="left-image">
                        <img src="img/template-image.png" alt="">
                    </div>
                </div>
            </div>
        </div>








    }

    @if (ViewBag.Usertype == "\"Teacher\"")
    {

        <div class="services">
            <div class="container">
                <div class="col-md-4">
                    <div class="service-item">
                        <div class="icon">
                            <img src="~/images/IDcard.png" alt="">
                        </div>
                        <div class="text">
                            <h2>Teacher TcNo</h2>
                            <h3>@ViewBag.TeacherTcNo </h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-item">
                        <div class="icon">
                            <img src="~/images/branch.png" alt="">
                        </div>
                        <div class="text">
                            <h2>Teacher BranchID</h2>
                            <h3>@ViewBag.TeacherBranchID</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-item">
                        <div class="icon">
                            <img src="~/images/Address.png" alt="">
                        </div>
                        <div class="text">
                            <h2>Teacher Address</h2>
                            <h3>@ViewBag.TeacherAdress</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="template-presentation">
            <div class="container">
                <div class="col-md-7 hidden-xs hidden-sm">
                    <div class="left-image">
                        <img src="~/images/school.png" alt="">

                    </div>
                </div>

                <div class="col-md-5 hidden-xs hidden-sm">
                    <div class="right-content">
                        <h4>SCHOOL MANAGEMENT SYSTEM</h4>
                        <div class="author-image">
                            <img src="img/template-author.png" alt="">
                        </div>
                        <div class="blue-button">
                        </div>
                    </div>
                </div>
                <div class="col-md-5 hidden-lg hidden-md">
                    <div class="right-content">
                        <div class="author-image">
                            <img src="~/images/school.png" alt="">
                        </div>
                        <h4>SCHOOL MANAGEMENT SYSTEM</h4>
                        <div class="blue-button">
                        </div>
                    </div>
                </div>
                <div class="col-md-7 hidden-lg hidden-md">
                    <div class="left-image">
                        <img src="img/template-image.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    }

    @if (ViewBag.Usertype == "\"Parent\"")
    {

        <div class="services">
            <div class="container">
                <div class="col-md-4">
                    <div class="service-item">
                        <div class="icon">
                            <img src="~/images/Phone.png" alt="">
                        </div>
                        <div class="text">
                            <h2>Parent Phone</h2>
                            <h3>@ViewBag.ParentPhone</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="service-item">
                        <div class="icon">
                            <img src="~/images/Address.png" alt="">
                        </div>
                        <div class="text">
                            <h2>Parent Address</h2>
                            <h3>@ViewBag.ParentAdress</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="template-presentation">
            <div class="container">
                <div class="col-md-7 hidden-xs hidden-sm">
                    <div class="left-image">
                        <img src="~/images/school.png" alt="">

                    </div>
                </div>

                <div class="col-md-5 hidden-xs hidden-sm">
                    <div class="right-content">
                        <h4>SCHOOL MANAGEMENT SYSTEM</h4>
                        <div class="author-image">
                            <img src="img/template-author.png" alt="">
                        </div>
                        <div class="blue-button">
                        </div>
                    </div>
                </div>
                <div class="col-md-5 hidden-lg hidden-md">
                    <div class="right-content">
                        <div class="author-image">
                            <img src="~/images/school.png" alt="">
                        </div>
                        <h4>SCHOOL MANAGEMENT SYSTEM</h4>
                        <div class="blue-button">
                        </div>
                    </div>
                </div>
                <div class="col-md-7 hidden-lg hidden-md">
                    <div class="left-image">
                        <img src="img/template-image.png" alt="">
                    </div>
                </div>
            </div>
        </div>


    }

</body>
