@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>School Management System</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: iPortfolio - v3.3.0
    * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body style="background-color:lightgray">

    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="d-flex flex-column">

            <div class="profile">
                @if (ViewBag.Usertype == "\"Student\"")
                {
                    <img src="~/images/student.png" alt="" class="img-fluid rounded-circle">
                }
                else if (ViewBag.Usertype == "\"Parent\"")
                {
                    <img src="~/images/family.png" alt="" class="img-fluid rounded-circle">
                }
                else if (ViewBag.Usertype == "\"Teacher\"")
                {
                    <img src="~/images/teacher.png" alt="" class="img-fluid rounded-circle">
                }


                @if (ViewBag.Usertype == "\"Student\"")
                {
                    <h1 class="text-light"><a href="@Url.Action("HomePage", "HomePage")">@ViewBag.NameSurname</a></h1>
                }
                else if (ViewBag.Usertype == "\"Parent\"")
                {
                    <h1 class="text-light"><a href="@Url.Action("HomePage", "HomePage")">@ViewBag.NameSurname</a></h1>
                }
                else if (ViewBag.Usertype == "\"Teacher\"")
                {
                    <h1 class="text-light"><a href="@Url.Action("HomePage", "HomePage")">@ViewBag.NameSurname</a></h1>
                }
                <div class="social-links mt-3 text-center">

                </div>
            </div>

            @if (ViewBag.Usertype == "\"Student\"")
            {

                <nav id="navbar" class="nav-menu navbar">
                    
                    <ul>
                       
                        <li><a href="@Url.Action("HomePage", "HomePage")" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
                        <li><a href="@Url.Action("HomePage", "HomePage")" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Info</span></a></li>
                        <li><a href="@Url.Action("GradePage", "GradePage")" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Grade</span></a></li>
                        <li><a href="@Url.Action("SyllabusPage", "SyllabusPage")" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Syllabus</span></a></li>
                        <li><a href= "@Url.Action("FeedbackPage", "FeedbackPage")" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Feedback</span></a></li>
                        <li><a href="@Url.Action("MessagePage", "MessagePage")" class="nav-link scrollto"><i class="bx bx-message"></i> <span>Message</span></a></li>
                        <li><a href="@Url.Action("List", "NewsPage") "><i class="bx bx-news"></i> <span>News</span></a></li>
                        <li><a href="@Url.Action("Logout", "LoginPage")" class="nav-link scrollto"><i class="bx bx-log-out"></i> <span>Logout</span></a></li>
                    </ul>
                </nav><!-- .nav-menu -->
            }
            else if (ViewBag.Usertype == "\"Parent\"")
            {
                <nav id="navbar" class="nav-menu navbar">
                    <ul>
                        <li><a href="@Url.Action("HomePage", "HomePage")" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
                        <li><a href="@Url.Action("HomePage", "HomePage")" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Info</span></a></li>
                        <li><a href="@Url.Action("GradePage", "GradePage")" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Grade</span></a></li>
                        <li><a href="@Url.Action("SyllabusPage", "SyllabusPage")" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Syllabus</span></a></li>
                        <li><a href="@Url.Action("FeedbackPage", "FeedbackPage")" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Feedback</span></a></li>
                        <li><a href="@Url.Action("MessagePage", "MessagePage")" class="nav-link scrollto"><i class="bx bx-message"></i> <span>Message</span></a></li>
                        <li><a href="@Url.Action("List", "NewsPage") " class="nav-link scrollto"><i class="bx bx-news"></i> <span>News</span></a></li>
                        <li><a href="@Url.Action("Logout", "LoginPage")" class="nav-link scrollto"><i class="bx bx-log-out"></i> <span>Logout</span></a></li>
                    </ul>
                </nav><!-- .nav-menu -->
            }
            else if (ViewBag.Usertype == "\"Teacher\"")
            {
                <nav id="navbar" class="nav-menu navbar">
                    <ul>
                        <li><a href="@Url.Action("HomePage", "HomePage")" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
                        <li><a href="@Url.Action("HomePage", "HomePage")" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Info</span></a></li>
                        <li><a href="@Url.Action("GradePage", "GradePage")" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Grade</span></a></li>
                        <li><a href="@Url.Action("SyllabusPage", "SyllabusPage")"  class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Syllabus</span></a></li>
                        <li><a href="@Url.Action("FeedbackPage", "FeedbackPage")" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Feedback</span></a></li>
                        <li><a href="@Url.Action("MessagePage", "MessagePage")"  class="nav-link scrollto"><i class="bx bx-message"></i> <span>Message</span></a></li>
                        <li><a href="@Url.Action("List", "NewsPage") " class="nav-link scrollto"><i class="bx bx-news"></i> <span>News</span></a></li>
                        <li><a href="@Url.Action("Logout", "LoginPage")" class="nav-link scrollto"><i class="bx bx-log-out"></i> <span>Logout</span></a></li>
                    </ul>
                </nav><!-- .nav-menu -->
            }
        </div>
    </header><!-- End Header -->
    

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/assets/vendor/purecounter/purecounter.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/typed.js/typed.min.js"></script>
    <script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>
 

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>
    <div class="content">
        <div class="container-fluid">
            @RenderBody()
        </div><!-- /.container-fluid -->
    </div>
</body>

</html>
