
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Mobil Okul Yönetim Sayfasına Hoş Geldiniz</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="~/apple-touch-icon.png">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/css/fontAwesome.css">
    <link rel="stylesheet" href="~/css/hero-slider.css">
    <link rel="stylesheet" href="~/css/owl-carousel.css">
    <link rel="stylesheet" href="~/css/datepicker.css">
    <link rel="stylesheet" href="~/css/tooplate-style.css">


    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <script src="~/js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

@*https://www.tooplate.com/view/2112-brunch*@
<body>

    <div class="wrap">
        <header id="header">
            <div class="container-fluid">
                <div class="col-md-12">
                    <button id="primary-nav-button" type="button">Menu</button>
                    <div class="logo">
                        @*<a href="index.html"><img src="~/images/logo2.png" alt="Brunch Template"></a>*@
                    </div>
                    <nav id="primary-nav" class="dropdown cf">
                        <ul class="dropdown menu">

                            <li><a href="@Url.Action("HomePage", "HomePage")" class="nav-link">Home</a></li>

                            <li>
                                <a href="#">Functions</a>
                                <ul class="dropdown-menu">
                                    <li><a href="generic-page.html">Class/Section</a></li>
                                    <li><a href="@Url.Action("FeedBackPage", "FeedBackPage")" class="nav-link">FeedBack</a></li>
                                    <li><a href="generic-page.html">Message</a></li>
                                    <li><a href="generic-page.html">News</a></li>
                                    <li><a href="generic-page.html">School</a></li>
                                    <li><a href="generic-page.html">Teacher</a></li>

                                </ul>
                            </li>

                            <li><a href="@Url.Action("Logout", "LoginPage")" class="nav-link">Logout</a></li>

                            <li>
                                <a class="nav-link">


                                </a>
                            </li>
                        </ul>

                    </nav>
                </div>
            </div>
        </header>
    </div>



    <div class="banner">
        <div class="container-fluid">
            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="left-content">
                    <div class="inside-content">
                        <h4>Welcome @ViewBag.NameSurname </h4>
                        <h4>Your object id = @ViewBag.Userno </h4>
                        <div class="white-border-button">
                            @*<a href="#">View More</a>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="center-image">
                    <div class="inside-content">
                        <img src="~/images/student.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="right-content">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <a style="text-decoration:none" href="@Url.Action("FeedBackPage", "FeedBackPage")"><h1>Feedback</h1></a>

                        </div>
                        <div class="item">
                            <a style="text-decoration:none" href="#"><h1>News</h1></a>
                        </div>
                        <div class="item">
                            <a style="text-decoration:none" href="#"><h1>Message</h1></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>














    <div class="content">
        <div class="container-fluid">
            @RenderBody()
        </div><!-- /.container-fluid -->
    </div>

    <footer>
        <br />
    </footer>



    <div class="sub-footer">
        <div class="container">
            <div class="col-md-12">
                <p>
                    Copyright &copy; 2021 School Management System


                </p>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/js/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="~/js/bootstrap.min.js"></script>

    <script src="~/js/datepicker.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/main2.js"></script>


</body>
</html>