@using MobilOkulProc.Entities.Concrete
@model MESSAGE 
@{
    ViewBag.Title = "Posta Oku";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <a href="~/Message/Mailbox" class="btn btn-primary btn-block mb-3">Mail Kutusuna Dön</a>

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Klasörler</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item active">
                                <a href="~/Message/Mailbox" class="nav-link">
                                    <i class="fas fa-inbox"></i> Gelen Kutusu
                                    <span class="badge bg-primary float-right">@ViewBag.MessageCount</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Message/Sentbox" class="nav-link">
                                    <i class="far fa-envelope"></i> Giden Kutusu
                                    <span class="badge bg-primary float-right">@ViewBag.SentMessagesCount</span>
                                </a>

                            </li>
                            <li class="nav-item">
                                <a href="~/Message/Deletedbox" class="nav-link">
                                    <i class="far fa-trash-alt"></i> Çöp kutusu
                                    <span class="badge bg-primary float-right">@ViewBag.DeletedMessagesCount</span>
                                </a>

                            </li>

                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>

            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Mail Oku</h3>

                        <div class="card-tools">
                            <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Previous"><i class="fas fa-chevron-left"></i></a>
                            <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Next"><i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="mailbox-read-info">
                            <h5>@Model.MessageTitle</h5>
                            <h6>
                                Gönderen: @Model.Sender.FullName
                                <span class="mailbox-read-time float-right">@Model.SendTime.ToString("f")</span>
                            </h6>
                        </div>
                        <!-- /.mailbox-read-info -->
                        <div class="mailbox-controls with-border text-center">
                            <div class="">
                                <a href="~/Message/Delete/@Model.ObjectID" button type="button" class="btn btn-default btn-sm"><i class="far fa-trash-alt"></i></a>
                                <a href="~/Message/Compose/@Model.ObjectID" button type="button" class="btn btn-default btn-sm"><i class="fas fa-reply"></i></a>
                            </div>
                            <!-- /.btn-group -->

                        </div>
                        <!-- /.mailbox-controls -->
                        <div class="mailbox-read-message">
                            <p>@Model.MessageContent</p>


                        </div>
                        <!-- /.mailbox-read-message -->
                    </div>

                    <!-- /.card-footer -->
                    <div class="card-footer">
                        <div class="float-right">
                            <a href="~/Message/Compose/@Model.ObjectID" button type="button" class="btn btn-default"><i class="fas fa-reply"></i> Yanıtla</a>

                        </div>

                        <a href="~/Message/Delete/@Model.ObjectID" button type="button" class="btn btn-default"><i class="far fa-trash-alt"></i> Sil</a>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
</section>
<!-- /.content -->