@using MobilOkulProc.Entities.Concrete
@using MobilOkulProc.Entities.General
@model Mesajlar<EDUCATIONAL_TERM>
@{
    ViewData["Title"] = "Edit City";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Nesne.ObjectID)

        <div class="form-group">
            @Html.LabelFor(model => model.Nesne.EducationTerm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Nesne.EducationTerm, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nesne.EducationTerm, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Nesne.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Nesne.Status, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Nesne.Status, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" value="Kaydet" class="btn btn-success" />  | @Html.ActionLink("Listeye Geri Dön", "List")


            </div>

        </div>
    </div>
}

<p>
    <div class="input-group">
        @if (Model != null)
        {
            if (Model.Mesaj != null)
            {
                <div class="alert alert-@Model.Status" role="alert">@Model.Mesaj</div>
            }


        }
    </div>
    <br />

</p>



