@using MobilOkulProc.WebApp.ViewModels
@using MobilOkulProc.Entities.Concrete
@model SyllabusViewModel<SYLLABUS>
@{
    ViewBag.Title = "Delete Syllabus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Delete", "Syllabus", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();

    <div>
        <hr />
        <dl class="form-horizontal">
            @Html.HiddenFor(model => model.Mesajlar.Nesne.ObjectID)
            <dt>
                @Html.DisplayNameFor(m => m.Mesajlar.Nesne.Date)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Mesajlar.Nesne.Date)
            </dd>
            
            <dt>
                @Html.DisplayNameFor(m => m.Mesajlar.Nesne.Days.DayName)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Mesajlar.Nesne.Days.DayName)
            </dd>
            <dt>
                @Html.DisplayNameFor(m => m.Mesajlar.Nesne.Lecture.LectureName)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Mesajlar.Nesne.Lecture.LectureName)
            </dd>
            <dt>
                @Html.DisplayNameFor(m => m.Mesajlar.Nesne.Status)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Mesajlar.Nesne.Status)
            </dd>


        </dl>
        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            @Html.ActionLink("Listeye Geri Dön", "List")
        </div>
        <br />
        <h3>
            Silmek istediğinden emin misin?
        </h3>
    </div>
    <p>
        <div class="input-group">
            @if (Model.Mesajlar != null)
            {
                if (Model.Mesajlar.Mesaj != null)
                {
                    <div class="alert alert-@Model.Mesajlar.Status" role="alert">@Model.Mesajlar.Mesaj</div>
                }


            }
        </div>
        <br />

    </p>
    <br />
}

