@using MobilOkulProc.WebUserApp.ViewModels
@{
    ViewBag.Title = "Hoş Geldin";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> Days = new List<string>() { "Pazartesi", "Salı", "Çarşamba", "Perşembe", "Cuma", "Cumartesi", "Pazar" };
    int i = 0;
}
@model HomeViewModel 
<style>
    .map-responsive {
        overflow: hidden;
        padding-bottom: 30%;
        position: relative;
        height: 0;
    }

        .map-responsive iframe {
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
        }
</style>

<section class="content">
    <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-graduation-cap"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Sınıf</span>
                        <span class="info-box-number">
                            @Model.ClassName
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-user"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Sınıf Öğretmeni</span>
                        <span class="info-box-number"> Mehmet Faik</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix hidden-md-up"></div>

            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-success elevation-1"><i class="fas fa-flag"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Devamsızlık</span>
                        <span class="info-box-number">@Model.TotalAbsence</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-book-open"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Haftalık Ders Saati</span>
                        <span class="info-box-number">@Model.WeeklyLoad</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header border-transparent">
                        <h3 class="card-title">Ders Programı</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                    <tr>
                                        <th>Gün</th>
                                        <th>9:00 - 9:40</th>
                                        <th>10:00 - 10:40</th>
                                        <th>11:00 - 11:40</th>
                                        <th>12:00 - 12:40</th>
                                        <th>13:00 - 13:40</th>
                                        <th>14:00 - 14:40</th>
                                        <th>15:00 - 15:40</th>
                                        <th>16:00 - 16:40</th>
                                        <th>17:00 - 17:40</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Pazartesi</td>
                                        @foreach (var item in Model.SyllabusList)
                                        {
                                            if (item.Days.DayName == "Pazartesi")
                                            {
                                                <td>@item.Nine</td>
                                                <td>@item.Ten</td>
                                                <td>@item.Eleven</td>
                                                <td>@item.Twelwe</td>
                                                <td>@item.Thirtheen</td>
                                                <td>@item.Fourteen</td>
                                                <td>@item.Fifteen</td>
                                                <td>@item.Sixteen</td>
                                                <td>@item.Seventeen</td>

                                            }
                                        }

                                    </tr>

                                </tbody>
                                <thead>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Salı</td>
                                        @foreach (var item in Model.SyllabusList)
                                        {
                                            if (item.Days.DayName == "Salı")
                                            {
                                                <td>@item.Nine</td>
                                                <td>@item.Ten</td>
                                                <td>@item.Eleven</td>
                                                <td>@item.Twelwe</td>
                                                <td>@item.Thirtheen</td>
                                                <td>@item.Fourteen</td>
                                                <td>@item.Fifteen</td>
                                                <td>@item.Sixteen</td>
                                                <td>@item.Seventeen</td>

                                            }
                                        }
                                    </tr>

                                </tbody>
                                <thead>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Çarşamba</td>
                                        @foreach (var item in Model.SyllabusList)
                                        {
                                            if (item.Days.DayName == "Çarşamba")
                                            {
                                                <td>@item.Nine</td>
                                                <td>@item.Ten</td>
                                                <td>@item.Eleven</td>
                                                <td>@item.Twelwe</td>
                                                <td>@item.Thirtheen</td>
                                                <td>@item.Fourteen</td>
                                                <td>@item.Fifteen</td>
                                                <td>@item.Sixteen</td>
                                                <td>@item.Seventeen</td>

                                            }
                                        }

                                    </tr>

                                </tbody>
                                <thead>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Perşembe</td>
                                        @foreach (var item in Model.SyllabusList)
                                        {
                                            if (item.Days.DayName == "Perşembe")
                                            {
                                                <td>@item.Nine</td>
                                                <td>@item.Ten</td>
                                                <td>@item.Eleven</td>
                                                <td>@item.Twelwe</td>
                                                <td>@item.Thirtheen</td>
                                                <td>@item.Fourteen</td>
                                                <td>@item.Fifteen</td>
                                                <td>@item.Sixteen</td>
                                                <td>@item.Seventeen</td>

                                            }
                                        }

                                    </tr>

                                </tbody>
                                <thead>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Cuma</td>
                                        @foreach (var item in Model.SyllabusList)
                                        {
                                            if (item.Days.DayName == "Cuma")
                                            {
                                                <td>@item.Nine</td>
                                                <td>@item.Ten</td>
                                                <td>@item.Eleven</td>
                                                <td>@item.Twelwe</td>
                                                <td>@item.Thirtheen</td>
                                                <td>@item.Fourteen</td>
                                                <td>@item.Fifteen</td>
                                                <td>@item.Sixteen</td>
                                                <td>@item.Seventeen</td>

                                            }
                                        }

                                    </tr>

                                </tbody>
                                <thead>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="color:red">Cumartesi</td>
                                        @foreach (var item in Model.SyllabusList)
                                        {
                                            if (item.Days.DayName == "Cumartesi")
                                            {
                                                <td>@item.Nine</td>
                                                <td>@item.Ten</td>
                                                <td>@item.Eleven</td>
                                                <td>@item.Twelwe</td>
                                                <td>@item.Thirtheen</td>
                                                <td>@item.Fourteen</td>
                                                <td>@item.Fifteen</td>
                                                <td>@item.Sixteen</td>
                                                <td>@item.Seventeen</td>

                                            }
                                        }


                                    </tr>

                                </tbody>
                                <thead>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="color:red">Pazar</td>
                                        @foreach (var item in Model.SyllabusList)
                                        {
                                            if (item.Days.DayName == "Pazar")
                                            {
                                                <td>@item.Nine</td>
                                                <td>@item.Ten</td>
                                                <td>@item.Eleven</td>
                                                <td>@item.Twelwe</td>
                                                <td>@item.Thirtheen</td>
                                                <td>@item.Fourteen</td>
                                                <td>@item.Fifteen</td>
                                                <td>@item.Sixteen</td>
                                                <td>@item.Seventeen</td>

                                            }
                                        }

                                    </tr>

                                </tbody>




                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        @*<a href="javascript:void(0)" class="btn btn-sm btn-info float-left">Place New Order</a>*@  @*öğretmende kullanılacak*@
                        @*<a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">Tümünü Gör</a>*@
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->


        </div>
        <!-- /.col -->
        <!-- /.row -->
        <!-- TABLE: LATEST ORDERS -->
        <div class="card">
            <div class="card-header border-transparent">
                <h3 class="card-title">Sınav Listesi</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table m-0">
                        <thead>
                            <tr>
                                <th>Ders</th>
                                <th>Sınav Detayları</th>
                                <th>Tarih</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                @foreach (var item in Model.ExamList)
                                {
                                    <tr>
                                        <td>@item.Lecture.LectureName</td>
                                        <td>@item.ExamDetails</td>
                                        <td>@item.ExamDate.ToString("d.M.yyyy - HH:mm")</td>
                                    </tr>
                                }
                            
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                @*<a href="javascript:void(0)" class="btn btn-sm btn-info float-left">Place New Order</a>*@  @*öğretmende kullanılacak*@
                <a href="/Student/Exams" class="btn btn-sm btn-secondary float-right">Tümünü Gör</a>
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
        <div class="row">
            <!-- /.col -->
            <div class="col-md-8">
                <!-- USERS LIST -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Öğretmenler</h3>

                        <div class="card-tools">
                            <span class="badge badge-danger">8 Yeni Öğretmen</span>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <ul class="users-list clearfix">
                            <li>
                                <img src="~/dist/img/user1-128x128.jpg" alt="User Image">
                                <a class="users-list-name" href="#">Ahmet Hamdi</a>
                                <span class="users-list-date">Matematik</span>
                            </li>
                            <li>
                                <img src="~/dist/img/user8-128x128.jpg" alt="User Image">
                                <a class="users-list-name" href="#">Mehmet Faik</a>
                                <span class="users-list-date">Fizik</span>
                            </li>
                            <li>
                                <img src="~/dist/img/user7-128x128.jpg" alt="User Image">
                                <a class="users-list-name" href="#">Serçin Kati</a>
                                <span class="users-list-date">Müzik</span>
                            </li>
                            <li>
                                <img src="~/dist/img/user6-128x128.jpg" alt="User Image">
                                <a class="users-list-name" href="#">Cahit Pamuk</a>
                                <span class="users-list-date">Rehber</span>
                            </li>
                            <li>
                                <img src="~/dist/img/user8-128x128.jpg" alt="User Image">
                                <a class="users-list-name" href="#">Ali İskender Koç</a>
                                <span class="users-list-date">Müdür</span>
                            </li>
                            <li>
                                <img src="~/dist/img/user5-128x128.jpg" alt="User Image">
                                <a class="users-list-name" href="#">Sibel Tok</a>
                                <span class="users-list-date">Tarih</span>
                            </li>
                            <li>
                                <img src="~/dist/img/user4-128x128.jpg" alt="User Image">
                                <a class="users-list-name" href="#">Meltem Tık</a>
                                <span class="users-list-date">Resim</span>
                            </li>
                            <li>
                                <img src="~/dist/img/user3-128x128.jpg" alt="User Image">
                                <a class="users-list-name" href="#">Nimet Hal</a>
                                <span class="users-list-date">Beden Eğitimi</span>
                            </li>
                        </ul>
                        <!-- /.users-list -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer text-center">
                        <a href="/Student/Teachers">Tüm Öğretmenleri Gör</a>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!--/.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-4">
                <!-- Info Boxes Style 2 -->
                <div class="info-box mb-3 bg-warning">
                    <span class="info-box-icon"><i class="fas fa-tag"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">En Yakın Sınav</span>
                        <div class="row">
                            <span class="info-box-number  col-md-8">@Model.MostRecentExam</span>
                            <a href="/Student/Exams" class="btn btn-sm btn-secondary float-right col-md-4">Tümünü Gör</a>
                        </div>

                        
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
                <div class="info-box mb-3 bg-success">
                    <span class="info-box-icon"><i class="far fa-heart"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Kalan Sınav Adeti</span>
                        <div class="row">
                            <span class="info-box-number col-md-8">@Model.ExamsLeft</span>
                            <a href="/Student/Exams" class="btn btn-sm btn-secondary float-right col-md-4">Tümünü Gör</a>
                        </div>

                        
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
                <div class="info-box mb-3 bg-danger">
                    <span class="info-box-icon"><i class="fas fa-cloud-download-alt"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Son Alınan Not</span>
                        <div class="row">
                            <span class="info-box-number col-md-8">100 - Matematik</span>
                            <a href="/Student/Notes" class="btn btn-sm btn-secondary float-right col-md-4">Tümünü Gör</a>
                        </div>

                        

                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
                <div class="info-box mb-3 bg-info">
                    <span class="info-box-icon"><i class="far fa-comment"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Mesajlar</span>
                        <div class="row">
                            <span class="info-box-number  col-md-8">67</span>
                            <a href="/Message/Mailbox" class="btn btn-sm btn-secondary float-right col-md-4">Tümünü Gör</a>
                        </div>
                       
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>

        </div>



        <!-- /.info-box -->
        <!-- PRODUCT LIST -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Duyurular</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <ul class="products-list product-list-in-card pl-2 pr-2">
                    <li class="item">

                        <div class="product-info">
                            <a class="product-title">
                                Başlık
                                <span class="badge badge-warning float-right">19.09.2021</span>
                            </a>
                            <span class="product-description">
                                23 Nisan Ulusal Egemenlik ve Çocuk Bayramınız kutlu olsun.
                            </span>
                        </div>
                    </li>
                    <!-- /.item -->
                </ul>
            </div>
            <!-- /.card-body -->

            <div class="card-footer text-center">
                <a href="/Student/Announcements" class="uppercase">Tüm Duyuruları Gör</a>
            </div>
            <!-- /.card-footer -->
            <!-- /.card -->
        </div>
        <!-- MAP & BOX PANE -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Okul Konum</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <div class="d-md-flex">
                    <div class="p-1 flex-fill" style="overflow: hidden">
                        <!-- Map will be created here -->
                        <div id="world-map-markers" style="height: 325px; overflow: hidden">

                            <div class="map-responsive"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12497.85463226484!2d27.121750072266206!3d38.45385580772181!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bbd9c9f1050713%3A0x829b467f568102f7!2sKarsiyaka%20Evlendirme%20Dairesi!5e0!3m2!1sen!2str!4v1623239804728!5m2!1sen!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
                        </div>
                    </div>
                </div><!-- /.d-md-flex -->
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.col -->
    </div>
            <!-- /.row -->

</section>
<!-- /.content -->