@using MobilOkulProc.Entities.Concrete
@using MobilOkulProc.MobileApp.Models

@model GradePageModel<GRADE>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<body>
    <section id="student" class="d-flex flex-column justify-content-center align-items-center">
        <div class="student-container" data-aos="fade-in">
            @if (ViewBag.Usertype == "\"Student\"")
            {
                <h1>@ViewBag.NameSurname</h1>
                <p>User : <span class="typed" data-typed-items="Student"></span></p>
            }
            else @if (ViewBag.Usertype == "\"Parent\"")
       {
        <h1>@ViewBag.NameSurname</h1>
        <p>User : <span class="typed" data-typed-items="Parent"></span></p>
    }
    else if (ViewBag.Usertype == "\"Teacher\"")
    {
        <h1>@ViewBag.NameSurname</h1>
        <p>User : <span class="typed" data-typed-items="Teacher"></span></p>
    }
        </div>
    </section><!-- End Hero -->
    <main id="main">

        <div class="box-body table-responsive" style="padding:100px;">
            <table class="table table-hover table-bordered text-center">
                <thead>
                    <tr class="bg-primary text-bold">
                        <th class="fixed">
                            @Html.DisplayNameFor(model => model.Mesajlar.Nesne.Grade)
                        </th>
                        <th class="hidden-xs hidden-sm">
                            @Html.DisplayNameFor(model => model.Mesajlar.Nesne.Lecture.LectureName)
                        </th>

                    </tr>
                </thead>
                <tbody class="bg-gray">
                    @foreach (var item in Model.PagedList)
                    {

                        if (ViewBag.Usertype == "\"Teacher\"")
                        {
                            @if (item.LectureID == ViewBag.Student)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Grade)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Lecture.LectureName)
                                    </td>
                                </tr>
                            }
                        }


                        else if (ViewBag.Usertype != "\"Teacher\"")
                        {
                            @if (item.StudentID == ViewBag.Student)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Grade)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Lecture.LectureName)
                                    </td>
                                </tr>
                            }
                        }

                    }
                </tbody>
            </table>
        </div>
        <!-- Vendor JS Files -->
        <script src="~/assets/vendor/aos/aos.js"></script>
        <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="~/assets/vendor/php-email-form/validate.js"></script>
        <script src="~/assets/vendor/purecounter/purecounter.js"></script>
        <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="~/assets/vendor/typed.js/typed.min.js"></script>
        <script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>


        <!-- Template Main JS File -->
        <script src="~/assets/js/main.js"></script>

    </main><!-- End #main -->
</body>